.you-are-lost {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 300px;
  font-weight: bold;
}

.you-are-lost p {
  user-select: none;
  font-family: serif;
}

.you-are-lost button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: var(--theme-color);
  color: rgb(255, 255, 255);
}

.you-are-lost button span {
  display: flex;
  flex-direction: row-reverse;
}

.you-are-lost button span i {
  margin-right: 5px;
  color: rgb(255, 255, 255);
}

.you-are-lost button:hover {
  background-color: var(--theme-color);
  color: rgb(255, 255, 255);
}

@media (max-width: 800px) {
  .you-are-lost {
    font-size: 250px;
  }
}

@media (max-width: 500px) {
  .you-are-lost {
    font-size: 175px;
  }
}
