.chart {
    flex: 2;
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
    color: gray;
}

.title {
    margin-bottom: 20px;
}

.chartGrid {
    stroke: rgb(228, 225, 225);
}