* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: relative;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
}

.app {
  min-height: 100vh;
}

:root {
  --theme-gradient: linear-gradient(
    90deg,
    rgba(1, 203, 153, 1) 0%,
    rgba(6, 255, 211, 1) 63%,
    rgba(221, 255, 239, 1) 100%
  );
  --light: rgba(53, 182, 250, 0.067);
  --light-gray: rgb(248, 248, 248);
  --shadow: 0px 0px 7px 1px rgb(204, 204, 204);
  --light-shadow: 0px 0px 7px 1px rgb(238, 238, 238);
  --theme-color: rgb(1, 203, 153);
  --gray: rgb(251, 251, 251);
  --light-blue: rgb(235, 245, 255);
  --theme-light: rgb(55, 173, 248);
  --theme-light-color: rgb(75, 134, 180);
  --gray-text: rgb(105, 110, 147);
  --second-gray: rgb(199, 199, 199);
  --red: rgb(255, 53, 53);
  --green: rgb(25, 221, 25);
  --primary-bg: rgb(36, 37, 51);
  --secondary-bg: rgb(50, 52, 68);
  --inactive-box: rgb(64, 68, 86);
  --icon-shadow: drop-shadow(0px 10px 5px rgba(1, 203, 152, 0.842));
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
}

.app .fa-exclamation-circle {
  color: var(--red);
}

.app .fa-check-circle {
  color: var(--green);
}

.app .fa-exclamation-triangle {
  color: rgb(255, 212, 22);
}

.capitalize {
  text-transform: capitalize;
}

.graytext {
  color: var(--gray-text);
}

img {
  object-fit: cover;
}

input,
button {
  outline: none;
}

p {
  outline: none;
}

hr {
  border: none;
  background-color: rgb(240, 240, 242);
  width: 90%;
  height: 1px;
}

.spacer1 {
  height: 100px;
}

i {
  cursor: pointer;
  transition: all 0.3s;
  color: var(--theme-color);
}

textarea::-webkit-scrollbar {
  width: 5px;
}

time {
  text-transform: capitalize;
}

button {
  cursor: pointer;
  border: solid 2px transparent;
  transition: all 0.3s;
}

button:active {
  transform: scale(0.97);
}

::selection {
  background-color: rgb(0, 0, 0);
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(248, 248, 248);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-text);
  border-radius: 10px;
}

input {
  border: none;
  padding: 10px;
  background-color: rgb(248, 248, 248);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.fillcontainer {
  width: 100%;
  height: 100%;
}

.MuiButton-label {
  height: 100%;
}

.MuiTouchRipple-root {
  opacity: 0.2;
}

.flexrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.notifications-wrapper {
  right: 0;
  display: flex;
  flex-direction: column-reverse;
}

.notifications-tr {
  max-width: 80%;
  display: flex;
  flex-direction: column-reverse;
}

.notifications-wrapper .notification-dismiss {
  display: none;
}

.notification-message {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.notification-message > div {
  display: flex;
  align-items: center;
}

.notification-message > div i {
  margin-right: 5px;
}

.notifications-tl {
  min-width: 420px;
}

.notification-message .fa-times {
  display: flex;
  align-items: center;
}

.notifications-tl .themeBtn {
  width: 80px;
  font-size: 10px;
  padding: 0;
  height: 20px;
  border-radius: 5px;
  margin-left: 5px;
  z-index: 111111;
}

.notifications-tl .themeBtn:hover {
  background-color: var(--theme-second);
}
