.card {
  width: 210px;
  height: 210px;
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  transition: all 0.3s !important;
}

.card > div:last-of-type {
  margin-top: 10px;
}

.card .iconbox {
  width: 44px;
  height: 44px;
}

.card p {
  font-size: 13px;
  margin-top: 5px;
  color: var(--gray-text);
  transition: all 0.3s;
}

.card .iconbox i {
  font-size: 20px;
}

.theme-shadow-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 17px 19px -15px var(--theme-color);
}
