.about-section {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;

  height: 60vh;
  min-height: 800px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.about-section .bg-image {
  background-image: url("https://i.imgur.com/BWo9nt9.png");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: absolute;
}

.about-section .header {
  font-size: 30px;
}

.about-section .about-section-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.about-section .about-img {
  width: 500px;
  height: 500px;
  /* overflow: hidden; */
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.637);
  border-radius: 50%;
}

.about-section .left-part {
  display: flex;
  align-items: center;
}

.about-section .right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.about-section .about-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: var(--light-shadow);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.637);
}

.about-cont > div:first-of-type {
  margin-bottom: 10px;
}

.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.bars {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.bars h3 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.bars h3 .iconbox {
  width: 43px;
  height: 43px;
}

.bars h3 .iconbox i {
  font-size: 24px;
}

.bars h3 span {
  margin-left: 10px;
}

.bars .bar {
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bar .track {
  background-color: rgba(238, 238, 238, 0.58);
  border-radius: 10px;
  width: 100%;
}

.bar .flexrow {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar .flexrow span {
  margin-right: 10px;
}

.bar strong {
  margin-bottom: 5px;
}

.bars .bar .percentage {
  display: flex;
  justify-content: flex-end;
  background-color: var(--theme-color);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 12px;
  height: 17px;
}

.fade {
  background: linear-gradient(
    90deg,
    rgb(63, 63, 63) 0%,
    rgb(180, 180, 180) 57%,
    rgb(240, 240, 240) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fade::selection {
  color: #fff;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

@media (max-width: 1100px) {
  .about-section {
    min-height: 1000px;
  }

  .about-section .about-section-row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
}

@media (max-width: 980px) {
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 1150px;
  }

  .about-section .about-cont {
    align-items: center;
  }

  .about-section .about-cont {
    padding: 20px 15%;
    text-align: center;
  }

  .bars h3 {
    justify-content: center;
  }
}

@media (max-width: 540px) {
  .about-cont p {
    font-size: 13px;
  }
}

.about-me.aboutc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  max-width: 500px;
  max-height: 100%;
}

.about-me.works img {
  border-radius: 10px;
  height: 300px;
  object-fit: contain;
  width: 100%;
  max-width: 100%;
}

.about-me.about-section {
  min-height: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
