.contact-info {
  overflow: hidden;
  padding-bottom: 40px;
}

.contact-title {
  display: flex;
  margin: 60px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-boxes {
  display: flex;
  padding: 0 10%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact-boxes .card {
  box-shadow: var(--light-shadow);
  margin: 20px;
}

.contact-boxes .card:hover {
  box-shadow: 0 11px 20px -4px rgba(224, 224, 224, 0.75);
}

.contact-boxes .iconbox {
  box-shadow: none;
}

.contact-boxes .iconbox i {
  font-size: 28px;
}

.contact-boxes .card .arrow-icon {
  margin-top: 10px;
  border: solid 2px var(--theme-color);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
}

.contact-boxes .card .arrow-icon:hover {
  color: rgb(255, 255, 255);
  background-color: var(--theme-color);
}

.contact-boxes .card .arrow-icon:active {
  transform: scale(0.96);
}

.contact .contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20%;
  grid-gap: 20px;
  margin-top: 50px;
}

.contact-form .iconbox {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.contact-form .iconbox i {
  font-size: 28px;
}

.contact-form .left-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form button {
  width: 100%;
  background-color: var(--theme-color);
  color: #fff;
  overflow: hidden;
}

.contact-form button:hover {
  background-color: var(--theme-color);
}

.contact-form button:hover span span {
  opacity: 0;
}

.contact-form button i {
  position: absolute;
  top: 100px;
  left: 50%;
  font-size: 19px;
  transform: translate(-50%, -50%);
  margin: 0;
}

.contact-form button:hover i {
  top: 50%;
}

.contact-form textarea {
  min-height: 100px;
}

.contact-form .create-account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.contact-form .create-account a:hover {
  text-decoration: underline;
  color: var(--theme-color);
  transition: all 0.3s;
}

.graytext {
  color: var(--gray-text);
}

@media (max-width: 750px) {
  .contact .contact-form {
    grid-template-columns: 1fr;
  }
}
