.body .top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.507);
  opacity: 0;
  pointer-events: none;
}

.body .scrol.top {
  opacity: 1;
  pointer-events: initial;
}

.body .top:hover {
  background-color: var(--theme-color);
  color: rgb(255, 255, 255);
}
