.logo img {
  width: 35px;
  height: 35px;
  filter: drop-shadow(1px 1px 2px var(--theme-color));
}

.logo {
  display: flex;
  align-items: center;
}

.logo > span {
  margin-left: 10px;
}

.logo > span strong {
  color: var(--gray-text);
}

.logo > span span {
  color: var(--second-gray);
}
